{% extends 'base.html.twig' %}

{% block title %} Liste des produits {% endblock %}

{% block body %}

<section class="Produits">

    {% for produit in Produits %}
        <produit>
            <h2>Nom de l'article : {{ produit.nomProduit }}</h2>
            <div class="content">
                <img src="../Images/produits/{{ produit.image }}  " alt=""></img>
                <img src="../Images/produits/{{ produit.image2 }} " alt=""></img>               
                <p>Despcrition générale :  Types = {{ produit.Types }}, Couleurs = {{ produit.Couleurs }}, Saveurs = {{ produit.Saveurs }}</p>
                <p>Utilisations : {{ produit.Utilisation }}, Accompagnement 
                .= {{ produit.Accompagnement }}</p>
            </div>
        </produit>
    {% endfor %}
</section>
{% endblock %}